*.lo
*.o
*.so
Makefile
config.log
config.status
include/serno.h
include/setup.h
libratbox/include/libratbox_config.h
libratbox/include/librb-config.h
libratbox/include/stamp-h1
libratbox/libratbox.pc
libratbox/libtool
libratbox/src/.deps/
libratbox/src/.libs/
libratbox/src/libratbox.la
libratbox/src/version.c
libratbox/src/version.c.last
src/lex.yy.c
src/version.c
src/y.tab.c
src/y.tab.h
tools/genssl.sh
bandb/bandb
bandb/bantool
src/ircd
src/version.c.last
ssld/ssld
tools/convertilines
tools/convertklines
tools/mkpasswd
tools/viconf
